<div class="row main">
    <div class="titleApp large-2 columns">
        <div class="content">

            Garden Sharing
        </div>
    </div>
    <div class="large-2 columns item"  (click)="navigateTo('Home')"
        >
        <div class="content"  >

            <a class="menuItem" >
                <i class="fa fa-home" aria-hidden="true"></i>
                Home </a>
        </div>
    </div>
    <div class="large-2 columns item"  (click)="navigateTo('Quiz')">
        <div class="content">

            <a class="menuItem" >
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                Quiz </a>
        </div>
    </div>
    <div class="large-2 columns item"  (click)="navigateTo('Description')">
        <div class="content">

            <a class="menuItem" >
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Description </a>
        </div>
    </div>
    <div class="large-2 columns end item" (click)="navigateTo('Contact')">
        <div class="content">

            <a class="menuItem" >
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Contacts </a>
        </div>
    </div>

</div>