@import "../../../styles/main";
@import "../../../styles/variables";

.main {
  .title {
    text-align: center;

  }

  .fa {
    font-style: normal;
  }

  .fa:hover{
    transform: scale(1.1);
    cursor:pointer;
  }

  h2, .titleQuestion,.fa {
    color: $titleColor;
  }
}