/**
 *  If you want to override some foundation variables, you have to change values here.
 *  The list of variables are listed here node_modules/foundation/scss/_global.scss
 */
$global-flexbox : true;

@import 'variables';

@import '../../node_modules/foundation-sites/assets/foundation';

$fa-font-path : '../../node_modules/font-awesome/fonts';


html { //#505D6E
  background: #505D6E url(../assets/home/goodSize2.png) no-repeat center center fixed;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  line-height: 1.5em;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  color: rgba(255, 255, 255, .8);
  font-weight: normal;
}

