<div class="row ">

    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">

        <div class="row">
            <div class="large-6 large-centered">
                <img src="{{contact.pathImage}}" alt="">
            </div>
        </div>
        <div class="row description">
            <div class="large-6 large-centered">
                <h1>{{contact.title}}</h1>
                <h2>{{contact.description}}</h2>
            </div>
        </div>
        <div class="game row">
            <div class="large-6 large-centered
                    medium-6 medium-centered
                    small-6 small-centered
                    gameDescription"
            >
                <h2><i class="fa fa-gamepad" aria-hidden="true"></i>
                    </h2>
            </div>


        </div>
    </div>
</div>