@import "../../../styles/main";
@import "../../../styles/variables";


.main{
  h2{
    text-align: center;
  }

  .large-6{
    text-align: justify;
  }

  .icon{
    .fa{
      font-style: normal;
    }
  }

  #facebook,#twitter,#mail{
    transition:transform 1s;
    color:$titleColor;
  }

  #facebook:hover, #twitter:hover, #mail:hover{
    transition:transform 1s;
    cursor:pointer;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) scale(1.6);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    transition:color 1s;
    color:$titleColor;
    .fa{
      font-style: normal;

    }
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    transition:color 1s;
  }

  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    color:$titleColor;
    transition:color 1s;
    position: absolute;
  }

}