    <div class="row ">

    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">

        <div class="row">
            <div class="large-3 large-centered">
                <img src="{{contact.pathImage}}" alt="">
            </div>
        </div>
        <div class="row description">
            <div class="large-8 large-centered">
                <h2>{{contact.title}}</h2>

            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered">
                {{contact.description}}
            </div>
        </div>
        <br>
        <div class="icon row">
            <div class="large-2 large-offset-3
                    medium-4
                    small-4 columns
                    iconItem " id="mail"
            >
                <h2><i class="fa fa-envelope" aria-hidden="true"></i>
                </h2>
            </div>
            <div class="large-2
                    medium-4
                    small-4 columns
                    iconItem" id="twitter"
            >
                <h2><i class="fa fa-twitter" aria-hidden="true"></i>
                </h2>
            </div>
            <div class="large-2
                    medium-4
                    small-4 columns end
                    iconItem" id="facebook"
            >
                <h2><i class="fa fa-facebook" aria-hidden="true"></i>
                </h2>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="large-6 large-centered">
                Utiliseriez-vous nos produits ?
            </div>
        </div>
        <h1>
        <div class="rating">
            <span><i class="fa fa-star-o" aria-hidden="true" [ngClass]="star1" (click)="changeActive('1')"></i></span>
            <span><i class="fa fa-star-o" aria-hidden="true" [ngClass]="star2" (click)="changeActive('2')"></i></span>
            <span><i class="fa fa-star-o" aria-hidden="true" [ngClass]="star3" (click)="changeActive('3')"></i></span>
            <span><i class="fa fa-star-o" aria-hidden="true" [ngClass]="star4" (click)="changeActive('4')"></i></span>
            <span><i class="fa fa-star-o" aria-hidden="true" [ngClass]="star5" (click)="changeActive('5')"></i></span>
        </div></h1>
    </div>
</div>