<div class="row">

    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">
        <div class="row">
            <div class="large-6 large-centered">
                <img src="../../../assets/logo1.png" alt="">
            </div>
        </div>
        <div class="row description">
            <div class="large-6 large-centered">
               <h1>Garden Sharing</h1>
                <h2>Une nouvelle vision des jardins</h2>
            </div>
        </div>
        <div class="game row">
            <div class="large-6 large-centered
                    medium-6 medium-centered
                    small-6 small-centered
                    gameDescription"
                 (click)="openQuizz()"
            >
                <h2><i class="fa fa-gamepad" aria-hidden="true"></i>
                Découvrir le projet !</h2>
            </div>


        </div>
    </div>
</div>