<div class="row">

    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">
        <div class="row">
            <div class="large-3 large-centered">
                <img src="{{home.pathImage}}" alt="">
            </div>
        </div>
        <div class="row description">
            <div class="large-6 large-centered">
               <h1>{{home.title}}</h1>
                <h2>{{home.description}}</h2>
            </div>
        </div>
        <div class="game row">
            <div class="large-6 large-centered
                    medium-6 medium-centered
                    small-6 small-centered
                    gameDescription"
                 (click)="openQuiz()"
            >
                <h2><i class="fa fa-gamepad" aria-hidden="true"></i>
                    {{home.linkName}}</h2>
            </div>


        </div>
    </div>
</div>