<div class="row">
    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">

        <div class="row title">
            <h2> Garden Sharing<br/>
                Description
            </h2>
        </div>
        <div class="row question">
            <div class="titleQuestion large-11 large-offset-1
                medium-11 medium-offset-1
                 small-offset-1 small-11">
               
            </div>
        </div>

    </div>
</div>

