<div class="row">
    <div class="main large-8 large-centered
                    medium-8 medium-centered
                    small-10 small-centered">

        <div class="row title">
            <h2> Garden Sharing<br/>
                {{description.title}}
            </h2>
        </div>
        <div class="row question">
            <div class="titleQuestion large-10 large-offset-1
                medium-10 medium-offset-1
                 small-offset-1 small-10 end columns">
                {{description.generalDescription}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="large-10 large-offset-1
                medium-10 medium-offset-1
                 small-offset-1 small-10 end columns">
                {{description.secondTitle}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="large-10 large-centered">
                <div class="row">

                    <div class="item large-4 medium-4 small-4 columns end" *ngFor="let item of description.choices"
                         (click)="showDescription(item)">
                        <a class="linkItem"> <span>{{item}}</span></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="large-10 large-offset-1
                medium-10 medium-offset-1
                 small-offset-1 small-10 end columns paragraph">
                <div *ngIf="partToShow>-1">
                    {{description.descriptionForEachChoice[partToShow]}}
                </div>
            </div>
        </div>

    </div>
</div>

