@import "../../../styles/main";
@import "../../../styles/variables";

.title {
  text-align: center;
}

.paragraph{
  text-align: justify;
}

h2 {
  color: $titleColor;
}

.titleQuestion{
  color:white;
}

.item {
  padding:1em;
  a {
    transition: color 1s;
    color: $titleColor;
  }

  border:solid 2px  $titleColor;
  text-align: center;
  background-color: rgba(11, 22, 44, 0.90);
  transition: background-color 1s;
}

.item:hover {
  a {
    transition: color 1s;
    color: rgb(11, 22, 44);
  }

  background-color: $titleColor;
  transition: background-color 1s;
  cursor: pointer;
}